################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ArraysAndStrings/1/Problem1/Problem1.VC.VC.opendb
